@charset "UTF-8";
body, html {
  width: 100%;
  height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background: #f8f9fd;
}

html:root {
  --swiper-theme-color: #FF7A50;
  --swiper-navigation-size: 0.981875rem;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

.header {
  padding-top: 3.9375rem;
}

.container {
  max-width: 76.9375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_top_menu_burger {
  display: none;
  z-index: 5;
}
.header_top_menu_burger:before {
  top: 0;
}
.header_top_menu_burger:after {
  bottom: 0;
}

.header_top_menu_burger:before,
.header_top_menu_burger:after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}

.header_menu {
  background-color: #fff;
  z-index: 2;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  font-size: 1.125rem;
}
.nav li {
  padding-left: 3.75rem;
}
.nav a {
  text-decoration: none;
  color: #363853;
}
.nav a:hover {
  color: #FF6838;
}

.sign_up {
  display: inline-block;
  background: #ff7a51;
  text-decoration: none;
  color: #ffffff;
  padding: 0.926875rem 1.6875rem 0.926875rem 1.75rem;
  font-size: 1.125rem;
  border-radius: 0.3125rem;
  margin-right: 3.6875rem;
}

.food_delivery_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.food_delivery_text {
  position: relative;
  width: 55%;
  text-transform: capitalize;
  padding-top: 22.5rem;
}

.food_delivery_text_main {
  font-size: calc(40px + 44.2 * (100vw - 320px) / 1440);
  color: #363853;
  font-weight: 500;
  line-height: 78px;
}
.food_delivery_text_main span {
  color: #fb7b58;
}

.food_delivery_text_content {
  font-size: calc(16px + 6.8 * (100vw - 320px) / 1440);
  line-height: 1.5;
  color: #363853;
}

.food_delivery_buttons {
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.food_delivery_buttons_l {
  display: inline-block;
  color: #363853;
  padding: 1rem 1.375rem;
  border-radius: 0.3125rem;
  letter-spacing: -0.025rem;
}
.food_delivery_buttons_l:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #363853;
  height: 0.125rem;
}

.food_delivery_buttons_l:hover {
  color: #ffffff;
  background: #ff7a51;
  text-decoration: none;
}

.food_delivery_buttons_r {
  display: inline-block;
  color: #363853;
  padding: 1rem 1.375rem;
  border-radius: 0.3125rem;
  letter-spacing: -0.025rem;
}
.food_delivery_buttons_r:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #363853;
  height: 0.125rem;
}

.food_delivery_buttons_r:hover {
  color: #ffffff;
  background: #ff7a51;
  text-decoration: none;
}

.food_delivery_content {
  position: relative;
  right: 4.6875rem;
  width: 40%;
}

.food_delivery_content_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 6px;
  border: 2px solid transparent;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
  background: #fefcfa;
  padding: 0.75rem 0.9375rem 0.6875rem 0.625rem;
}
.food_delivery_content_button img:last-child {
  padding-left: 0.5rem;
}

.food_delivery_content_button:active {
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
  background: #eeeee4;
}

.food_delivery_content_button2 {
  position: relative;
  left: 4%;
  top: 21.9375rem;
  z-index: 1;
}
.food_delivery_content_button2 img {
  width: 100%;
}

.food_delivery_content_button_text {
  color: #363853;
  padding-left: 1rem;
  padding-right: 0.3125rem;
}
.food_delivery_content_button_text p:nth-child(1) {
  font-size: 0.625rem;
  font-weight: 500;
  padding-bottom: 0.125rem;
}
.food_delivery_content_button_text p:nth-child(2) {
  font-size: 0.4375rem;
  padding-top: 0.125rem;
}

.food_delivery_content_search {
  position: relative;
  top: 4.25rem;
  left: 8.875rem;
  z-index: 1;
}
.food_delivery_content_search img {
  max-width: 100%;
}

.food_delivery_content_time {
  position: relative;
  left: 81%;
  top: 4.5rem;
  z-index: 1;
}
.food_delivery_content_time img {
  max-width: 100%;
}

.food_delivery_content_send_shape {
  position: relative;
  top: 14.0625rem;
  left: 55%;
  z-index: 1;
}
.food_delivery_content_send_shape img {
  -o-object-fit: cover;
     object-fit: cover;
}

.food_delivery_content_scooter_guy {
  position: relative;
}

.doubble_sandwich {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 11.125rem;
  border-radius: 12px;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
  font-size: 0.6875rem;
  color: #363853;
  top: -25rem;
  left: 28.125rem;
  z-index: 1;
}

.doubble_sandwich_img {
  padding: 0.3125rem;
}
.doubble_sandwich_img img {
  max-width: 100%;
}

.doubble_sandwich_body {
  padding: 0.625rem 0.0625rem 0.0625rem 0.0625rem;
}

.doubble_sandwich_title {
  font-size: 0.6875rem;
}

.doubble_sandwich_price span:nth-child(1) {
  color: #ff7a51;
  font-size: 0.5rem;
  font-weight: bold;
}
.doubble_sandwich_price span:nth-child(2) {
  color: #363853;
  font-size: 0.6875rem;
  font-weight: bold;
}

.rating-mini {
  display: inline-block;
  font-size: 0;
}
.rating-mini span {
  padding: 0;
  font-size: 0.6875rem;
  line-height: 1;
  color: lightgrey;
}
.rating-mini > span:before {
  content: "★";
}
.rating-mini > span.active {
  color: gold;
}

.main {
  max-width: 100%;
  font-family: "Rubik", sans-serif;
  padding-bottom: 1.25rem;
}

.container2 {
  max-width: 72.25rem;
  margin: 0 auto;
}

.our_popular_category {
  max-width: 72.25rem;
  margin: 0 auto;
  padding-top: 5.9375rem;
}

.our_popular_category_title {
  font-style: normal;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.6875rem;
  /* identical to box height */
  text-transform: capitalize;
  color: #363853;
  text-align: center;
  padding-bottom: 0.625rem;
}

.our_popular_category_title_orange {
  color: #ff7a51;
}

.our_popular_category_nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  list-style: none;
  font-size: 1.25rem;
  color: #363853;
  padding-top: 2.8125rem;
  padding-bottom: 0.625rem;
}
.our_popular_category_nav li {
  max-width: 13.125rem;
  background: #ffffff;
  border-radius: 0.5rem;
}
.our_popular_category_nav li :hover {
  background-color: #ff7a51 !important;
  color: #ffffff;
  border-radius: 0.5rem;
}
.our_popular_category_nav li :hover img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
.our_popular_category_nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #363853;
  padding: 0.8125rem 0.8125rem 0.8125rem 2.125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our_popular_category_nav a span {
  position: relative;
  padding-left: 0.5625rem;
}

.image-slider {
  padding-bottom: 4.5rem;
}

.swiper-pagination {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 12.12px));
  height: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 12.12px));
  top: 21.625rem;
}

.swiper-button-prev,
.swiper-button-next {
  max-width: 0.981875rem;
  max-height: 0.575625rem;
  border: 2px solid #ff7a51;
  border-radius: 50%;
  padding: 0.875rem;
  margin-top: 0;
  top: 21.1875rem;
}

.swiper-button-prev {
  left: 29.6875rem;
  right: auto;
}

.swiper-button-next {
  right: 29.6875rem;
  left: auto;
}

.our_popular_category_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  margin-right: -29px;
  margin-left: -29px;
}

.our_popular_category_card {
  position: relative;
  max-width: 13rem;
  border-radius: 12px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  background: #fff;
  margin-left: 29px;
}

.our_popular_category_card_rating-mini {
  position: relative;
  display: inline-block;
  font-size: 0;
  top: -25px;
}

.our_popular_category_card_rating-mini span {
  padding: 0;
  font-size: 20px;
  line-height: 1;
  color: lightgrey;
}

.our_popular_category_card_rating-mini > span:before {
  content: "★";
}

.our_popular_category_card_rating-mini > span.active {
  color: gold;
}

.our_popular_category_card_title {
  position: relative;
  top: -5px;
  text-transform: capitalize;
}

.our_popular_category_card_price {
  position: relative;
  padding-bottom: 2px;
}

.our_popular_category_card_btn {
  background: #ff7a51;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 22px;
  padding: 7px 13px;
  border: 1px solid #ff7a51;
  border-radius: 2px;
}

.good_food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5.4375rem;
  padding-bottom: 0.625rem;
  margin: 0 auto;
}

.good_food_content {
  max-width: 28.125rem;
  padding-top: 7.125rem;
}

.good_food_content_title {
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  text-transform: capitalize;
  padding-bottom: 0.625rem;
}
.good_food_content_title span {
  color: #ff7a51;
}

.good_food_content_content {
  font-size: 20px;
  line-height: 30px;
  padding-top: 1.25rem;
  padding-bottom: 0.3125rem;
}

.good_food_content_reklama {
  text-transform: capitalize;
  font-size: 24px;
  line-height: 30px;
  color: #363853;
  padding-top: 0.5rem;
}
.good_food_content_reklama img {
  padding-right: 26px;
}
.good_food_content_reklama p:nth-child(1) {
  padding-bottom: 0.625rem;
}
.good_food_content_reklama p:nth-child(2) {
  padding-top: 0.75rem;
  padding-bottom: 0.3125rem;
}
.good_food_content_reklama p:nth-child(3) {
  padding-top: 0.75rem;
  padding-bottom: 0.3125rem;
}

.good_food_content_reklama_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.good_food_content_btn {
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  background: #ff7a51;
  padding: 17px 44px;
  border-radius: 30px 30px 1px 30px;
  margin-top: 2.75rem;
}
.good_food_content_btn :hover {
  color: #ffffff;
  background: #FF6736;
}

.top_food_main {
  max-width: 73.125rem;
  padding-top: 7.375rem;
  padding-bottom: 1.25rem;
  margin: 0 auto;
}

.top_food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 36px;
  padding-top: 3.125rem;
}

.top_food_title {
  font-weight: 500;
  font-size: 36px;
  line-height: 30px;
  text-transform: capitalize;
  text-align: center;
}
.top_food_title span {
  color: #ff7a51;
}

.top_food_card {
  max-width: 22.5625rem;
  background: #FFFFFF;
  border-radius: 53px 5px;
}

.top_food_card_content {
  padding-top: 22px;
  padding-left: 20px;
}

.top_food_card_img {
  -o-object-fit: contain;
     object-fit: contain;
}

.top_food_card_title {
  font-size: 24px;
  line-height: 30px;
  color: #363853;
}

.top_food_card_timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 30px;
  color: #363853;
  padding-top: 14px;
  padding-bottom: 22px;
}

.top_food_card_timer_img {
  max-width: 22px;
  max-height: 22px;
  padding-right: 8px;
}

.top_food_card_timer_btn {
  display: inline-block;
  background: #ff7a51;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-radius: 30px 30px 1px 30px;
  padding: 3px 27px 2px 28px;
  margin-left: 30px;
}

.mobile_app {
  max-width: 73.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 9.0625rem;
  padding-bottom: 0.625rem;
  margin: 0 auto;
}

.mobile_app_content {
  max-width: 33.625rem;
  padding-top: 7.4375rem;
}

.mobile_app_content_title {
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  text-transform: capitalize;
  padding-bottom: 0.625rem;
}
.mobile_app_content_title span {
  color: #ff7a51;
}

.mobile_app_content_content {
  font-size: 20px;
  line-height: 30px;
  padding-top: 1.25rem;
  padding-bottom: 0.625rem;
}

.mobile_app_img_img img {
  -o-object-fit: contain;
     object-fit: contain;
}

.mobile_app_content_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.25rem;
}
.mobile_app_content_button a:nth-child(1) {
  padding-right: 2.1875rem;
}

.our_client {
  max-width: 72.625rem;
  padding-top: 9.8125rem;
  padding-bottom: 1.25rem;
  margin: 0 auto;
}

.our_client_title {
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 0.625rem;
}
.our_client_title span {
  color: #ff7a51;
}

.our_client_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #363853;
  padding-top: 3.125rem;
}

.our_client_slider {
  max-width: 36.6875rem;
  padding-top: 6.5rem;
  padding-bottom: 0.625rem;
}

.quotes2 {
  margin-left: auto;
}

.our_client_content_content_span {
  max-width: 35.8125rem;
}

.our_client_content_content {
  position: relative;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 0.5px;
  text-indent: -1em;
}
.our_client_content_content span:first-child {
  position: relative;
  left: -10px;
  font-size: 60px;
  color: #DDDDDD;
}
.our_client_content_content span:last-child {
  position: relative;
  left: 10px;
  font-size: 60px;
  color: #DDDDDD;
}

.our_client_content_signature {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ff7a51;
  padding-top: 4rem;
  padding-bottom: 0.5rem;
}

.our_client_content_food_lover {
  font-size: 14px;
  line-height: 17px;
  color: #AAAAAA;
  padding-top: 0.6875rem;
}

/* Слайдер: */
.our_client_sliderr {
  max-width: 90%;
  /* Положение элемента устанавливается относительно его исходной позиции: */
  position: relative;
  /* Центрируем по горизонтали: */
  margin: auto;
  height: auto;
}

/* Картинка масштабируется по отношению к родительскому элементу: */
.our_client_sliderr .our_client_sliderr_item img {
  /* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}

/* Кнопки назад и вперёд: */
.our_client_sliderr .our_client_sliderr_previous, .our_client_sliderr .our_client_sliderr_next {
  /* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
  cursor: pointer;
  /* Положение элемента задаётся относительно границ браузера: */
  position: absolute;
  top: 89.5%;
  width: auto;
  /* Плавное появление фона при наведении курсора: */
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  /* Скругление границ: */
}

.our_client_sliderr .our_client_sliderr_next {
  right: 0;
}

.our_client_sliderr_previous {
  left: 455px;
}

/* При наведении курсора на кнопки добавляем фон кнопок: */
.our_client_sliderr .our_client_sliderr_previous:hover img,
.our_client_sliderr .our_client_sliderr_next:hover img {
  -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
          filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

/* Анимация слайдов: */
.our_client_sliderr .our_client_sliderr_item {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  /* Устанавливаем и изменяем степень прозрачности: */
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  /* Устанавливаем и изменяем степень прозрачности: */
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.latest_offer {
  max-width: 73.125rem;
  background: #ff7a51;
  color: #fff;
  border-radius: 22px;
  margin-top: 6.5rem;
  margin-bottom: 1.25rem;
  text-align: center;
}

.latest_offer_title {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  padding-top: 59px;
}

.latest_offer_content {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  padding-top: 12px;
}

.latest_offer_form {
  position: relative;
  text-align: center;
  padding-top: 31.45px;
  padding-bottom: 56.55px;
}
.latest_offer_form input:nth-child(1) {
  max-width: 52.40625rem;
  height: auto;
  background: #fff;
  border: 1px solid #ff7a51;
  border-radius: 70px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  padding: 24.55px 588.25px 24.45px 43.25px;
}
.latest_offer_form input:nth-child(2) {
  position: absolute;
  top: 40px;
  right: 175px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding: 14px 33.5px 13.5px 57.6px;
  border-radius: 36px;
  color: #fff;
  background: #ff7a51 url("../images/latest_offer/frame.png") no-repeat center left;
  background-position: 15px;
}

.footer {
  max-width: 100%;
  background: #ffffff;
  padding-top: 5rem;
}
.footer a {
  text-decoration: none;
}

.footer_main {
  max-width: 73.125rem;
  margin: 0 auto;
}

.footer_top {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_top a {
  color: #363853;
}

.footer_top_efood {
  font-size: 16px;
  line-height: 32px;
  padding-bottom: 10px;
}

.footer_top_efood_title {
  font-weight: 500;
  font-size: 33px;
  line-height: 80px;
  letter-spacing: 0.05em;
  padding-bottom: 10px;
}
.footer_top_efood_title span {
  color: #ff7a51;
}

.footer_top_efood_geolocation {
  padding-bottom: 5px;
  text-transform: capitalize;
}
.footer_top_efood_geolocation a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_top_efood_geolocation img {
  padding-right: 7px;
}

.footer_top_efood_phone {
  padding-top: 5px;
}
.footer_top_efood_phone a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_top_efood_phone img {
  padding-right: 12px;
}

.footer_top_efood_email {
  padding-top: 15px;
  padding-bottom: 5px;
}
.footer_top_efood_email a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_top_efood_email img {
  padding-right: 7px;
}

.footer_top_efood_social_networks {
  max-width: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  grid-column-gap: 13px;
}

.footer_top_service {
  font-size: 18px;
  line-height: 49px;
  letter-spacing: 0.01em;
  padding-top: 20px;
}

.footer_top_service_title {
  font-weight: 500;
}

.footer_top_company {
  font-size: 18px;
  line-height: 49px;
  letter-spacing: 0.01em;
  padding-top: 20px;
}

.footer_top_company_title {
  font-weight: 500;
}

.footer_top_suppotrs {
  font-size: 18px;
  line-height: 49px;
  letter-spacing: 0.01em;
  padding-top: 20px;
}

.footer_top_suppotrs_title {
  font-weight: 500;
}

.footer_top_resources {
  font-size: 18px;
  line-height: 49px;
  letter-spacing: 0.01em;
  padding-top: 20px;
}

.footer_top_resources_title {
  font-weight: 500;
}

.footer_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 36px;
  font-size: 14px;
  line-height: 14px;
}

.footer_bottom_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.footer_bottom_nav li {
  padding-right: 53px;
}
.footer_bottom_nav li:last-child {
  padding-right: 0;
}
.footer_bottom_nav a {
  color: #363853;
}

@media (max-width: 576px) {
  body.lock {
    overflow: hidden;
  }
  .header {
    padding-top: 1.875rem;
  }
  .container {
    max-width: 100%;
  }
  .header_top {
    padding-left: 1.25rem;
  }
  .logo {
    display: none;
  }
  .header_top_menu_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
  }
  .header_top_menu_burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header_top_menu_burger:before, .header_top_menu_burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header_top_menu_burger:before {
    top: 0;
  }
  .header_top_menu_burger:after {
    bottom: 0;
  }
  .header_top_menu_burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header_top_menu_burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header_top_menu_burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
    background-color: #f8f9fd;
    padding: 100px 30px 20px 30px;
  }
  .header_menu.active {
    top: 0;
  }
  .header_menu::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 71.45px;
    background: #f8f9fd;
    z-index: 2;
  }
  .nav {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
    padding-top: 1.25rem;
  }
  .nav li {
    padding-left: 0.625rem;
  }
  .nav li > a {
    font-size: 1.5rem;
  }
  .sign_up {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding: 6.99px 11.63px 6.47px 10.19px;
    margin-right: 0;
    z-index: 2;
  }
  .food_delivery_content {
    display: none;
  }
  .food_delivery_text {
    width: 100%;
    padding-top: 1.875rem;
  }
  .food_delivery_text_main {
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    text-transform: capitalize;
    text-align: center;
  }
  .food_delivery_text_main br {
    display: none;
  }
  .food_delivery_text_content {
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    padding-top: 0.625rem;
  }
  .food_delivery_text_content br {
    display: none;
  }
  .food_delivery_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .our_popular_category {
    padding-top: 0.625rem;
  }
  .our_popular_category_title {
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    text-transform: capitalize;
    text-align: center;
  }
  .our_popular_category_nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 0.625rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.625rem;
  }
  .our_popular_category_nav > li {
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .our_popular_category_nav > li > a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .image-slider {
    padding-bottom: 0.625rem;
  }
  .our_popular_category_slider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 1.25rem;
  }
  .good_food {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 1.25rem;
  }
  .good_food_img img {
    max-width: 100%;
  }
  .good_food_content {
    padding-top: 0.875rem;
  }
  .good_food_content_title {
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 0.3125rem;
  }
  .good_food_content_content {
    font-size: 18px;
    line-height: 25px;
    padding-top: 0.3125rem;
  }
  .top_food_main {
    padding-top: 1.25rem;
    padding-bottom: 0.625rem;
  }
  .top_food_title {
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    text-transform: capitalize;
    text-align: center;
  }
  .top_food {
    padding-top: 1.25rem;
  }
  .top_food_card_img {
    max-width: 100%;
  }
  .mobile_app {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 0.3125rem;
  }
  .mobile_app_content {
    padding-top: 0.3125rem;
  }
  .mobile_app_content_title {
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    text-transform: capitalize;
    text-align: center;
  }
  .mobile_app_content_content {
    font-size: 18px;
    line-height: 25px;
    padding-top: 0.625rem;
  }
  .mobile_app_content_button {
    padding-bottom: 0.625rem;
  }
  .mobile_app_img {
    padding-top: 1.75rem;
  }
  .mobile_app_img img {
    max-width: 100%;
  }
  .our_client {
    padding-top: 1.25rem;
  }
  .our_client_title {
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    text-transform: capitalize;
    text-align: center;
  }
  .our_client_content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 1.25rem;
  }
  .our_client_content img {
    max-width: 100%;
  }
  .our_client_sliderr_previous {
    left: 10.9375rem;
  }
  .latest_offer {
    max-width: 100%;
    margin-top: 1.25rem;
  }
  .latest_offer_title {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    padding: 3px 9px 7px 7px;
  }
  .latest_offer_content {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 0;
  }
  .latest_offer_form {
    max-width: 100%;
    padding: 0 10px 22px 7px;
  }
  .latest_offer_form input:nth-child(1) {
    max-width: 100%;
    padding: 10px 156px 8.25px 15px;
  }
  .latest_offer_form input:nth-child(2) {
    max-width: 100%;
    top: 5rem;
    padding: 8px 145px 8px 146px;
    right: 0;
    background-position: 100px;
  }
  .footer {
    padding-top: 1.875rem;
  }
  .footer_top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer_bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 1.25rem;
    font-size: 1rem;
    line-height: normal;
  }
  .footer_bottom p {
    margin: 0 auto;
  }
  .footer_bottom_nav {
    padding-top: 1.25rem;
    margin: 0 auto;
  }
  .footer_bottom_nav li {
    padding-right: 40px;
  }
}