body, html {
  width: 100%;
  height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background: #f8f9fd;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
position: fixed;
width: 100%;
top: 0;
left: 0;
z-index: 50;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #cb01fe;
  z-index: 3;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.header_body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header_logo {
  flex: 0 0 60px;
  position: relative;
  z-index: 3;
}

.header_logo img {
  max-width: 100%;
}

.header_burger {
  display: none;
  z-index: 5;
}

.header_burger:before,
.header_burger:after {
  content: '';
  border-color: #000;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}

.header_burger:before {
  top: 0;
}

.header_burger:after {
  bottom: 0;
}

.header_menu {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #fff;
}

.header_list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header_list li {
  list-style: none;
  margin: 0 0 0 20px;
}

.header_link {
  color: black;
  text-transform: capitalize;
  font-size: 18px;
  text-decoration: none;
}

@media (max-width:767px){
  body.lock {
    overflow: hidden;
  }
  .header_body {
    height: 50px;
  }
  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
  }

  .header_burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header_burger:before,
  .header_burger:after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header_burger:before {
    top: 0;
  }

  .header_burger:after {
    bottom: 0;
  }

  .header_burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header_burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header_burger.active span {
    transform: scale(0);
  }
  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    border-color: #ffffff;
    padding: 70px 10px 20px 10px;
  }

  .header_menu.active {
    top: 0;
  }

  .header_list {
    display: block;
  }

  .header_list li {
    margin: 0 0 20px 0;
  }
}
